@import './reset.scss';
@import '~/assets/scss/variable.scss';

html {
    height: 100%;
    scroll-behavior: smooth;
    background-color: $page-bgc;
    body {
        background-color: $page-bgc;
    }
    a {
        &:hover {
            color: $theme-font-color;
        }
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}