.markdown-body-style {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;

    code[class*='language-'],
    pre[class*='language-'] {
        color: #ccc;
        background: none;
        font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    pre[class*='language-'] {
        padding: 1em;
        margin: 0.5em 0;
        overflow: auto;
    }

    :not(pre) > code[class*='language-'],
    pre[class*='language-'] {
        background: #2d2d2d;
    }

    :not(pre) > code[class*='language-'] {
        padding: 0.1em;
        border-radius: 0.3em;
        white-space: normal;
    }

    pre,
    pre[class*='language-'] {
        line-height: 1.4;
        padding: 1.25rem 1.5rem;
        margin: 0.85rem 0;
        background-color: #282c34;
        border-radius: 6px;
        overflow: auto;
    }

    div[class*='language-'] {
        position: relative;
        background-color: #282c34;
        border-radius: 6px;
    }

    div[class*='language-'] pre,
    div[class*='language-'] pre[class*='language-'] {
        background: transparent;
        position: relative;
        z-index: 1;
    }

    div[class*='language-']:before {
        position: absolute;
        z-index: 3;
        top: 0.8em;
        right: 1em;
        font-size: 0.75rem;
        color: hsla(0, 0%, 100%, 0.4);
    }

    div[class~='language-js']:before {
        content: 'js';
    }

    div[class~='language-ts']:before {
        content: 'ts';
    }

    div[class~='language-html']:before {
        content: 'html';
    }

    div[class~='language-md']:before {
        content: 'md';
    }

    div[class~='language-vue']:before {
        content: 'vue';
    }

    div[class~='language-css']:before {
        content: 'css';
    }

    div[class~='language-sass']:before {
        content: 'sass';
    }

    div[class~='language-scss']:before {
        content: 'scss';
    }

    div[class~='language-less']:before {
        content: 'less';
    }

    div[class~='language-stylus']:before {
        content: 'stylus';
    }

    div[class~='language-go']:before {
        content: 'go';
    }

    div[class~='language-java']:before {
        content: 'java';
    }

    div[class~='language-c']:before {
        content: 'c';
    }

    div[class~='language-sh']:before {
        content: 'sh';
    }

    div[class~='language-yaml']:before {
        content: 'yaml';
    }

    div[class~='language-py']:before {
        content: 'py';
    }

    div[class~='language-docker']:before {
        content: 'docker';
    }

    div[class~='language-dockerfile']:before {
        content: 'dockerfile';
    }

    div[class~='language-makefile']:before {
        content: 'makefile';
    }

    div[class~='language-javascript']:before {
        content: 'js';
    }

    div[class~='language-typescript']:before {
        content: 'ts';
    }

    div[class~='language-markup']:before {
        content: 'html';
    }

    div[class~='language-markdown']:before {
        content: 'md';
    }

    div[class~='language-json']:before {
        content: 'json';
    }

    div[class~='language-ruby']:before {
        content: 'rb';
    }

    div[class~='language-python']:before {
        content: 'py';
    }

    div[class~='language-bash']:before {
        content: 'sh';
    }

    div[class~='language-php']:before {
        content: 'php';
    }

    a {
        font-weight: 500;
        text-decoration: none;
    }

    a,
    p a code {
        color: #3eaf7c;
    }

    p a code {
        font-weight: 400;
    }

    kbd {
        background: #eee;
        border: 0.15rem solid #ddd;
        border-bottom: 0.25rem solid #ddd;
        border-radius: 0.15rem;
        padding: 0 0.15em;
    }

    blockquote {
        font-size: 1rem;
        color: #999;
        border-left: 0.2rem solid #dfe2e5;
        margin: 1rem 0;
        padding: 0.25rem 0 0.25rem 1rem;
    }

    blockquote > p {
        margin: 0;
    }

    ol,
    ul {
        padding-left: 1.2em;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }

    strong {
        font-weight: 600;
    }
    img {
        max-width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        line-height: 33px;
        position: relative;
        margin-top: 35px;
        margin-bottom: 10px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 12px;
        margin-top: 5px;
    }

    code {
        // font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
        //     monospace;
        font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        background-color: #f7fafc;
        font-smoothing: initial;
        font-size: 14px;
        color: #f56565;
        padding: 4px;
        border-radius: 2px;
        // white-space: nowrap;
    }

    ol,
    p,
    ul {
        line-height: 1.7;
    }

    hr {
        border: 0;
        border-top: 1px solid #eaecef;
    }

    table {
        border-collapse: collapse;
        margin: 1rem 0;
        display: block;
        overflow-x: auto;
    }

    tr {
        border-top: 1px solid #dfe2e5;
    }

    tr:nth-child(2n) {
        background-color: #f6f8fa;
    }

    td,
    th {
        border: 1px solid #dfe2e5;
        padding: 0.6em 1em;
    }

    pre {
        border-left: 0.5rem solid;
        border-color: #42b983;
        border-radius: 0;
    }

    pre > code {
        font-size: 14px !important;
        padding: 0;
        margin: 0;
        border-radius: 0;
        white-space: unset;
    }

    pre > code > p {
        margin: -5px 0 -20px;
    }

    pre > code code {
        background-color: #42b983 !important;
        padding: 3px 5px;
        border-radius: 3px;
        color: #000;
    }

    pre > code em {
        color: grey;
        font-weight: light;
    }

    .post_note {
        position: relative;
        padding: 16px;
        padding-left: 45px;
        margin-top: 18px;
        border: 1px solid transparent;
        border-left-width: 5px;
        border-radius: 3px;
        &:before {
            display: inline-block;
            position: absolute;
            top: 19px;
            left: 15px;
            content: "";
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &.post_danger {

        }
        &.post_primary {

        }
        &.post_info {
            background-color: #ebf8ff;
            border-left-color: #63b3ed;
            &:before {
                background-image: url('../../assets/images/note_info.svg');
            }
        }
        &.post_warning {
            background-color: #fffaf0;
            border-left-color: #f6ad55;
            &:before {
                background-image: url('../../assets/images/note_warning.svg');
            }
        }
        &.post_error {
            background-color: #fff1f0;
            border-left-color: #f5222d;
            &:before {
                background-image: url('../../assets/images/note_error.svg');
            }
        }
    }
}
